<h1><%= @title %></h1>

<%= link_to "Create New Appointment", appointments_path(), :method => :post %>
<br />
<% @appointments.each do |appointment| %>
  <h3><%= appointment.id %></h3>
  <% if appointment.patient_id.nil? && current_user.role == "patient" %>
    <%= link_to "Join as Patient", appointment_path(id: appointment.id, type: "patient"), :method => :put %>
  <% end %>
  <% if appointment.doctor_id.nil? && current_user.role == "doctor" %>
    <br />
    <%= link_to "Join as Doctor", appointment_path(id: appointment.id, type: "doctor"), :method => :put %>
  <% end %>
  <% if (appointment.doctor_id == current_user.id && current_user.role == "doctor") || (appointment.patient_id == current_user.id && current_user.role == "patient")%>
    <br />
    <%= link_to "Start Appointment", appointment_path(appointment) %>
  <% end %>
<% end %>
